/* @import '~leaflet/dist/leaflet.css'; */

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 300px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  flex-direction: column;
  font-size: 14px;
  color: white;
  padding: 5px 25px;
}

ul,
ol {
  padding-left: 20px;
  /* padding: 0; */
  /* margin: 0; */
}

.App-link {
  color: #61dafb;
}

i {
  display: inline !important;
}

#map {
  display: flex;
  flex: 1 1 auto;
}

#map>div {
  flex: 1 1 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}